<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating %>
<% end %>
<%= link_to "Return to task", restaurants_path %>

